.component {
  position: relative;
  text-align: center;
  color: #fff;
}

.title, .promoDescription {
  position: absolute;
  width: 100%;
  font-size: 2em;
}

.title {
  bottom: 40px;
  font-size: 2em;
}

.promoDescription {
  bottom: 10px;
  font-size: 1.5em;
}
